.DS_Store

*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3
*.xcuserdatad
*.xcworkspace
*.xcuserstate
xcuserdata


*.obj
ipch
*.ipch
*.opensdf
*.user

*.act
*.class
tmp
proj/macosx/spsx/build


*.suo
*.sdf

libs/ogg/win32/VS2010/Win32/
libs/vorbis/win32/VS2010/Win32/
libs/vorbis/win32/VS2010/libvorbisfile/Win32/
libs/vorbis/win32/VS2010/vorbisdec/Win32/
libs/vorbis/win32/VS2010/vorbisenc/Win32/
libs/vorbis/win32/VS2010/libvorbis/Win32/
proj/win32/spsx/Debug/
proj/win32/spsx/Win32/



